{% extends 'base.html' %}

{% load static %}

{% block title %}Classificação Total{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classificação Total</title>
    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard/css/total_leaderboard.css' %}">
</head>
<body>
    <h1>Classificação Total</h1>
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Jogador</th>
                <th>Pontuação Total</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in total_leaderboard %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ entry.player }}</td>
                    <td>{{ entry.total_score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
