* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ddd;
}

.user-greeting {
  color: #fff;
}

.content {
  padding: 20px;
}

/* Estilos para mensagens */
.messages {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.messages li {
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}
