<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conexo Wars</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/home_styles.css' %}">
</head>
<body>
    <header id="header">
        <h1 class="titulo-principal">SEJA BEM VINDO!</h1>
        <h2 class="subtitulo">O que deseja fazer?</h2>
    </header>
    <main>
        <button class="botao" onclick="window.location.href='/leaderboard'">Leaderboard</button>
        {% if not user.is_authenticated %}
            <button class="botao" onclick="window.location.href='/login'">Login</button>
        {% endif %}
    </main>
</body>
</html>
